<section>
  <h2 class="heading-m">Liknande produkter</h2>
  <div class="swiper product-swiper">
    <div class="swiper-wrapper">
      <% products.slice(0, 8).forEach(function(product) { %>
      <div class="swiper-slide">

        <div class="gt-product">
          <div class="gt-product-image">
            <!-- Lägg till en länk runt varje produktkort -->
            <a href="/produktsidan/<%= product.id %>">
              <picture class="gt-product-image">
                <source srcset="<%= product.model_image_webp.image %>" type="image/webp">
                <img src="<%= product.model_image_jpg.image %>" alt="Beskrivning av bilden">
              </picture>
            </a>
          </div>
          <div class="gt-product-info">
            <p class="gt-product-price heading-s">
              <%= product.price_tiers.length > 0 ?
              `${product.price_tiers[product.price_tiers.length -
              1].price_per_unit} kr - ${product.price_tiers[0].price_per_unit}
              kr` : "Price unavailable" %>
            </p>
            <p class="gt-product-name body-text"><%= product.name %></p>
          </div>
          <div class="gt-product-extra-info">
            <p class="body-text"><%= product.fit %></p>
            <p class="body-text">Minimum: <%= product.minimum %></p>
            <p class="body-text"><%= product.egenskaper_info[2] %></p>
          </div>
        </div>

      </div>
      <% }); %>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</section>
